/* Colouring */
.navbar-custom, .navbar-nav, .navbar-collapse {
    color:#FFF;
}

.title {
    background-color: #000;
    background: rgba(0,0,0, 0.7); 
    color: #FFF;
}

/* Spacing */
img {
    max-width: 100%;
}

.image-container {
    max-width:  20em;
    max-height: 20em;
    justify-content: center;
    display: flex;
    position: relative;
    margin: auto;
}

.span, .footer, .display-3, #contact {
    text-align: center;
}

.thumbnail, .fancybox {
    padding: 5px 30px 5px 30px;
}

.artwork {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 1em;
}
