/* Background */
.jumbotron{
        background-color: #4C4CFF;
}

/* Colouring */
h2{
	color:#FFFFFF;
}

.navbar-custom, .navbar-nav, .navbar-collapse{
    	color:#FFFFFF;
}

/* Spacing */
.footer{
	text-align:center;
}

#contact{
	text-align:center;
}

.display-3{
	text-align:center;
}

#bio{
    text-align:center;
    margin-left:100px;
    margin-right:100px;
}

#social-links{
    justify-contents:center;
}

#greeter-wrapper{
    width:40%;
    margin-left:30%;
    margin-right:30%;
}
